[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
jinja2 = "*"
ghastoolkit = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
main = "python ./.github/scripts/validate.py"
validate = "python ./.github/scripts/validate.py --validate"
snapshot = "python ./.github/scripts/validate.py --snapshot"
markdown = "python ./.github/scripts/validate.py --markdown"
# formatting
fmt = "black ./src/ghastoolkit"
lint = "black --check ./src/ghastoolkit"
